@model Endmer.Models.Entity.Tbl_Araclar

@{
    ViewBag.Title = "AracGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Araç Bilgilerini Güncelle</h6>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="container">

                            <form method="post" action="/Araclar/AracGuncelle" enctype="multipart/form-data">

                                <div class="row mb-3">

                                    @Html.HiddenFor(x => x.ID)

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="form-label">Marka - Model</label>
                                        @Html.TextBoxFor(x => x.MARKA, new { @class = "form-control", @placeholder = "Marka.." })
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="form-label">Resim</label>
                                        <input type="file" class="form-control" name="RESIM" accept="image/*" />
                                    </div>

                                </div>

                                <div class="row mb-3">

                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">KM</label>
                                        @Html.TextBoxFor(x => x.KM, new { @class = "form-control", @placeholder = "KM.." })
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">Konum</label>
                                        @Html.DropDownListFor(x => x.Tbl_Konumlar.ID, (List<SelectListItem>)ViewBag.Location, new { @class = "form-select" })
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-label">Plaka</label>
                                        @Html.TextBoxFor(x => x.PLAKA, new { @class = "form-control", @placeholder = "Plaka.." })
                                    </div>

                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-success">Güncelle</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var araclar = document.getElementById('araclar');
    araclar.classList.add('active');
</script>