@using Endmer.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Araclar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Araçlar</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="float-start ms-3">
                            <a href="/Araclar/AracEkle" class="btn btn-info">Yeni Araç Ekle</a>
                            <a href="/Araclar/Yazdir" class="btn btn-secondary"><i class="fa-solid fa-print"></i></a>
                        </div>

                        <div class="float-end me-3">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    { "page-link"}
                                })
                        </div>
                    </div>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table table-hover align-items-center mb-0">
                            <thead align="center">
                                <tr>
                                    <th>Resim</th>
                                    <th>Marka - Model</th>
                                    <th>Plaka</th>
                                    <th>Kullanıcı</th>
                                    <th>KM</th>
                                    <th>Lokasyon</th>
                                    <th>Geçmiş Bakım</th>
                                    <th>Gelecek Bakım</th>
                                    <th colspan="5">İşlemler</th>
                                </tr>
                            </thead>

                            @foreach (var x in Model)
                            {
                                string status = "";

                                if (x.Tbl_BakimKayit.Select(z => z.BAKIMDURUM).FirstOrDefault() == null)
                                {
                                    status = "Girilmedi";
                                }

                                <tbody align="center">
                                    <tr>
                                        <td><img src="@x.RESIM" width="150" /></td>
                                        <td>@x.MARKA</td>
                                        <td>@x.PLAKA</td>
                                        <td>@x.Tbl_Personel.AD @x.Tbl_Personel.SOYAD</td>
                                        <td>@x.KM</td>
                                        <td>@x.Tbl_Konumlar.KONUM</td>
                                        <td>@status @x.Tbl_BakimKayit.Where(z => z.BAKIMDURUM == "Yapıldı").OrderByDescending(z => z.ID).ToList().Select(z => Convert.ToDateTime(z.TARIH).ToString("dd'/'MM'/'yyyy")).Take(1).FirstOrDefault()</td>
                                        <td>@status @x.Tbl_BakimKayit.Where(y => y.BAKIMDURUM == "Yapılmadı").OrderBy(y => y.ID).Select(y => Convert.ToDateTime(y.TARIH).ToString("dd'/'MM'/'yyyy")).Take(1).FirstOrDefault()</td>
                                        <td><a href="/Araclar/AracDetay/@x.ID" class="btn btn-primary">Detay</a></td>
                                        <td>@Html.ActionLink("Sil", "AracSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinize Emin Misiniz?')" })</td>
                                        <td><a href="/Araclar/AracGuncelle/@x.ID" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="/Araclar/BakimZamani/@x.ID" class="btn btn-warning">Bakım Zamanı</a></td>
                                        <td><a href="/Araclar/GecmisYazdir/@x.ID" class="btn btn-secondary">Geçmiş <i class="fa-solid fa-print"></i></a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var araclar = document.getElementById('araclar');
    araclar.classList.add('active');

</script>
