@using Endmer.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Zimmetler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Zimmetlerim</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="float-end me-3">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    { "page-link"}
                                })
                        </div>
                    </div>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table table-hover align-items-center mb-0">
                            <thead align="center">
                                <tr>
                                    <th>Resim</th>
                                    <th>Ürün</th>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Adet</th>
                                    <th colspan="1">İşlemler</th>
                                </tr>
                            </thead>
                            @foreach (var x in Model)
                            {
                                <tbody align="center">
                                    <tr>
                                        <td><img src="@x.Tbl_Urunler.RESIM" width="300" /></td>
                                        <td>@x.Tbl_Urunler.URUNADI</td>
                                        <td>@x.Tbl_Urunler.MARKA</td>
                                        <td>@x.Tbl_Urunler.MODEL</td>
                                        <td>@x.ADET</td>
                                        <td><a href="/Zimmetlerim/Aktar/@x.ID" class="btn btn-warning">Aktar</a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var zimmetlerim = document.getElementById('zimmetlerim');
    zimmetlerim.classList.add('active');
</script>