@using Endmer.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_ZimmetAktar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Bekleyen Onaylar</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="float-end me-3">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    { "page-link"}
                                })
                        </div>
                    </div>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table table-hover align-items-center mb-0">
                            <thead align="center">
                                <tr>
                                    <th>Devreden Personel</th>
                                    <th>Devralan Personel</th>
                                    <th>Ürün</th>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Barkod</th>
                                    <th>Adet</th>
                                    <th>Lokasyon</th>
                                    <th>Tarih</th>
                                    <th colspan="2">İşlemler</th>
                                </tr>
                            </thead>
                            @foreach (var x in Model)
                            {
                                <tbody align="center">
                                    <tr>
                                        <td>@x.Tbl_Personel.AD @x.Tbl_Personel.SOYAD</td>
                                        <td>@x.Tbl_Personel1.AD @x.Tbl_Personel1.SOYAD</td>
                                        <td>@x.Tbl_Urunler.URUNADI</td>
                                        <td>@x.Tbl_Urunler.MARKA</td>
                                        <td>@x.Tbl_Urunler.MODEL</td>
                                        <td>@x.Tbl_Urunler.BARKODNO</td>
                                        <td>@x.ADET</td>
                                        <td>@x.Tbl_Konumlar.KONUM</td>
                                        <td>@(((DateTime)x.TARIH).ToString("dd/MM/yyyy"))</td>
                                        <td>@Html.ActionLink("Onayla", "Onayla", new { id = x.ID }, new { @class = "btn btn-success", onclick = "return confirm('Onaylamak İstediğinize Emin Misiniz?')" })</td>
                                        <td>@Html.ActionLink("Reddet", "Reddet", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Reddetmek İstediğinize Emin Misiniz?')" })</td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var onaylar = document.getElementById('onaylar');
    onaylar.classList.add('active');
</script>
