@using Endmer.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header">
                    <h6 class="text-center fs-4">Personeller</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="float-start ms-3">
                            <a href="/Personel/PersonelEkle" class="btn btn-info">Yeni Personel Ekle</a>
                        </div>

                        <div class="float-end me-3">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    { "page-link"}
                                })
                        </div>
                    </div>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table table-hover align-items-center mb-0">
                            <thead align="center">
                                <tr>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Departman</th>
                                    <th>Lokasyon</th>
                                    <th colspan="3">İşlemler</th>
                                </tr>
                            </thead>
                            @foreach (var x in Model)
                            {
                                <tbody align="center">
                                    <tr>
                                        <td>@x.AD</td>
                                        <td>@x.SOYAD</td>
                                        <td>@x.Tbl_Departmanlar.DEPARTMAN</td>
                                        <td>@x.LOKASYON</td>
                                        <td><a href="/Personel/PersonelGuncelle/@x.ID" class="btn btn-success">Güncelle</a></td>
                                        <td>@Html.ActionLink("Sil", "PersonelSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Personeli Silmek İstediğinize Emin Misiniz?')" })</td>
                                        <td><a href="/Personel/PersonelZimmet/@x.ID" class="btn btn-primary">Zimmetler</a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var personel = document.getElementById('personel');
    personel.classList.add('active');
</script>
